body {
	background-color: #dedede;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

h1 {
	margin: 12px;
	font-family: "Arial", sans-serif;
}

h2 {
	margin: 12px;
	font-family: "Arial", sans-serif;
}

p {
	margin: 12px;
}

form {
	margin: 12px;
}

.inset {
	font-family: "Arial", sans-serif;
	background-color: white;
	width: 800px;
	min-height:1000px;
	margin: 0 auto;
}

.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a {
	float: left;
	text-align: center;
	background-color: #003385;
	color: white;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
	margin-right: 3px;
	margin-bottom: 3px;
}

.topnav a:hover {
	background-color: #2a6ad1;
}

.topnav a:active {
  background-color: #04AA6D;
  color: white;
}

.download {
	margin: 12px;
	color: blue;
}

.download:visited {
	color: blue;
}

.error {
	color: red;
}

.plot_input_wrapper {
	width: 100%;
	height: 120px;
}

.textarea_container {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.about_container {
	width: 100%;
	height: auto;
}

.about_container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
