<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Effective Mass Modelling</title>
	<link rel="stylesheet" type="text/css" 
	href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
<div class="inset">
	<div class=topnav>
		<a href="{{url_for('index')}}">Home</a>
		<a href="{{url_for('zt')}}">zT Calculator</a>
		<a href="{{url_for('theoretical_zt')}}">Theoretical zT</a>
		<a href="{{url_for('spb_excel')}}">SPB Excel</a>
		<a href="{{url_for('thermal')}}">Thermal Conductivity</a>
		<a href="{{url_for('plot')}}">Plotting Tool</a>
	</div>
{% block content %}{% endblock %}
</div>


</body>
</html>