{% extends "base.html" %}

{% block content %}

<h1>Single Parabolic Band Excel Calculator</h1>
<hr>
<form method="post" action="{{ url_for('spb_excel') }}" id="action_form" enctype="multipart/form-data">
	{{ spb_form.csrf_token }}
	{{ spb_form.file_spb.label }}
	{{ spb_form.file_spb }}
	<br>
	<br>
	<input type="submit" value="Submit" name="spb" onclick="document.getElementById('spb').value='Calculating...';">
</form>


{% if error_message %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if spb_excel_path %}
<p>Calculation Success</p>
<a href="{{url_for('download', name=spb_excel_path)}}" class="download">Download Excel File</a>
{% endif %}

<br>
<br>
<br>
<hr>
<p>
<b>Inputs:</b> temperature, seebeck, resistivity, carrier concentration, hall mobility, scattering parameter<br>
<b>Outputs:</b> reduced fermi level, effective mass, intrinsic mobility, lorenz number, electronic thermal conductivity
</p>
<p><b>How to use this tool:</b><br>
Format your data as shown in this <a href="../static/reference_files/spb_demo_sheet.xlsx">demo excel sheet</a>.<br>
All of the columns must be the same length.<br>
For scattering parameter, use -0.5 for acoustic phonon scattering.<br>
File sizes up to 1mb are accepted<br>
Units must be as follows:<br>
</p>
<ul>
	<li>Temperature: K</li>
	<li>Seebeck: &mu;V/K</li>
	<li>Resistivity: m&Omega;-cm</li>
	<li>Carrier concentration: cm<sup>-3</sup></li>
	<li>Hall mobility: cm<sup>2</sup>/V&bull;s</li>
	<li>Thermal conductivity: W/mK</li>
</ul>
<p>
Upload your excel file<br>
Press submit<br>
Wait for calculation to run<br>
Download link for calculated data will appear on this page<br>
</p>


{% endblock %}
