{% extends "base.html" %}

{% block content %}
	<h1>Theoretical zT Calculator</h1>
	<hr>
	<form method="post" action="{{ url_for('theoretical_zt') }}" id="action_form" autocomplete="off">
		{{ tzt_form.csrf_token }}
		{{ tzt_form.efmass_tzt.label }}
		{{ tzt_form.efmass_tzt }}
		{{ tzt_form.efmass_units_tzt }}
		{% for error in tzt_form.efmass_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.kl_tzt.label }}
		{{ tzt_form.kl_tzt }}
		{{ tzt_form.kl_units_tzt }}
		{% for error in tzt_form.kl_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.mu_tzt.label }}
		{{ tzt_form.mu_tzt }}
		{{ tzt_form.mu_units_tzt }}
		{% for error in tzt_form.mu_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.temperature_tzt.label }}
		{{ tzt_form.temperature_tzt }}
		{{ tzt_form.temperature_units_tzt }}
		{% for error in tzt_form.temperature_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.r_tzt.label }}
		{{ tzt_form.r_tzt }}
		{% for error in tzt_form.r_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.cc_lo_tzt.label }}
		{{ tzt_form.cc_lo_tzt }}
		{% for error in tzt_form.cc_lo_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.cc_hi_tzt.label }}
		{{ tzt_form.cc_hi_tzt }}
		{% for error in tzt_form.cc_hi_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.points_tzt.label }}
		{{ tzt_form.points_tzt }}
		{% for error in tzt_form.points_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		<input type="submit" value="Submit" name="tzt" id="tzt_submit" onclick="document.getElementById('tzt_submit').value='Calculating...';">
	</form>

{% if error_message %}
<p class="error">{{ warning_message }}</p>
{% endif %}
<p><a href="/about/#zt_max">About this calculation</a></p>

<hr>

<h2>Excel sheet upload</h2>

<form method="post" action="{{ url_for('theoretical_zt') }}" id="excel_form" enctype="multipart/form-data">
	{{ tzt_excel_form.csrf_token }}
	{{ tzt_excel_form.file_tzt.label}}
	{{ tzt_excel_form.file_tzt}}
	<br>
	<br>
	<input type="submit" value="Submit" name="tzt_excel" id="tzt_excel_submit" onclick="document.getElementById('tzt_excel_submit').value='Calculating...';">
</form>
<br>

{% if error_message %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if tzt_excel_path %}
<a href="{{url_for('download', name=tzt_excel_path)}}" class="download">Download Excel File</a>
{% endif %}

<p>Please format excel files as shown in this <a href="../static/reference_files/zt_max_demo_sheet.xlsx">theoretical zt max demo excel sheet</a><p>
File sizes up to 1mb are accepted<br>
Data columns must be the same length<br>
Temperature units must be: K<br>
Seebeck units must be: &mu;V/K<br>
Resistivity units must be: m&Omega;-cm<br>
Thermal conductivity units must be: W/mK
</p>

{% endblock %}
