{% extends "base.html" %}

{% block content %}
	<h1>Theoretical zT Calculator</h1>
	<hr>
	<form method="post" action="{{ url_for('theoretical_zt') }}" id="action_form" autocomplete="off">
		{{ tzt_form.csrf_token }}
		{{ tzt_form.efmass_tzt.label }}
		{{ tzt_form.efmass_tzt }}
		{{ tzt_form.efmass_units_tzt }}
		{% for error in tzt_form.efmass_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.kl_tzt.label }}
		{{ tzt_form.kl_tzt }}
		{{ tzt_form.kl_units_tzt }}
		{% for error in tzt_form.kl_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.mu_tzt.label }}
		{{ tzt_form.mu_tzt }}
		{{ tzt_form.mu_units_tzt }}
		{% for error in tzt_form.mu_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.temperature_tzt.label }}
		{{ tzt_form.temperature_tzt }}
		{{ tzt_form.temperature_units_tzt }}
		{% for error in tzt_form.temperature_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.r_tzt.label }}
		{{ tzt_form.r_tzt }}
		{% for error in tzt_form.r_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.cc_lo_tzt.label }}
		{{ tzt_form.cc_lo_tzt }}
		{% for error in tzt_form.cc_lo_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.cc_hi_tzt.label }}
		{{ tzt_form.cc_hi_tzt }}
		{% for error in tzt_form.cc_hi_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		{{ tzt_form.points_tzt.label }}
		{{ tzt_form.points_tzt }}
		{% for error in tzt_form.points_tzt.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br><br>
		<input type="submit" value="Submit" name="tzt" id="tzt_submit" onclick="document.getElementById('tzt_submit').value='Calculating...';">
	</form>

{% if error_message %}
<p class="error">{{ warning_message }}</p>
{% endif %}

{% if theoretical_zt_max_value %}
<p>
<b>Theoretical Max zT:</b> {{theoretical_zt_max_value}}<br>
<b>Carrier Concentration (cm<sup>-3</sup>) for Theoretical Max zT:</b> {{carrier_for_zt_max_value}}<br>
<a href="{{ url_for('download', name=full_file_path_plot) }}"><img src="{{ url_for('download', name=full_file_path_plot) }}" alt="" width="200" height="200"></a><br>
<a href="{{ url_for('download', name=full_file_path_excel) }}">Download excel of plotted data</a><br>
</p>
{% endif %}




<hr>

<h2>Excel sheet upload</h2>

<form method="post" action="{{ url_for('theoretical_zt') }}" id="excel_form" enctype="multipart/form-data">
	{{ tzt_excel_form.csrf_token }}
	{{ tzt_excel_form.file_tzt.label}}
	{{ tzt_excel_form.file_tzt}}
	<br>
	<br>
	<input type="submit" value="Submit" name="tzt_excel" id="tzt_excel_submit" onclick="document.getElementById('tzt_excel_submit').value='Calculating...';">
</form>
<br>

{% if error_message %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if tzt_excel_path %}
<a href="{{url_for('download', name=tzt_excel_path)}}" class="download">Download Excel File</a>
{% endif %}

<p>Please format excel files as shown in this <a href="../static/reference_files/zt_max_demo_sheet.xlsx">theoretical zt max demo excel sheet</a><p>
<p>Temperature units must be: K<br>
Seebeck units must be: &mu;V/K<br>
Resistivity units must be: m&Omega;-cm<br>
Thermal conductivity units must be: W/mK
<p>

<p>This calculator assumes a fixed and known effective mass.
We then solve for the many reduced fermi level (RFL) values 
using the effective mass and carrier concentration values ranging
between 10<sup>16</sup>-10<sup>21</sup>cm<sup>-3</sup>.
We use these reduced fermi level values to calculate the seebeck coefficient,
Lorenz number, psi (&Psi;) function.
Quality factor (&beta;) is calculated using the intrinsic mobility, 
effective mass, temperature, and lattice thermal conductivity.
We then calculate a theoretical zT for ever carrier concentration 
value using equation 11.11 from the crc press book. Then we find the max
zT value calculated for all carrier concentration values between
10<sup>16</sup>-10<sup>22</sup>cm<sup>-3</sup> and return it with the 
carrier concentration value for the max zT.

<p>
{% endblock %}
