{% extends "base.html" %}

{% block content %}
<h1>Thermal Conductivity Calculators</h1>
<hr>
<h2>Total Thermal Conductivity</h2>
	<form method="post" action="{{ url_for('thermal_calculated') }}" id="action_form" autocomplete="off">
		<label for="diffusivity">Thermal Diffusivity: </label>
		<input type="text" id="diffusivity" name="diffusivity">
			<select name="diffusivity_units" id="diffusivity_units">
				<option value="mm2/s">mm<sup>2</sup>/s</option>
				<option value="cm2/s">cm<sup>2</sup>/s</option>
				<option value="m2/s">m<sup>2</sup>/s</option>
			</select>
		<br>
		<br>
		<label for="r">Density: </label>
		<input type="text" id="density" name="density">
		<select name="density_units" id="density_units">
			<option value="gcm-3">g/cm<sup>3</sup></option>
			<option value="kgm-3">kg/m<sup>3</sup></option>
		</select>
		<br>
		<br>
		<label for="cp">Heat Capacity: </label>
		<input type="text" id="cp" name="cp"><label for="cp"></label>
		<select name="cp_units" id="cp_units">
			<option value="jkgk">J/Kg&bull;K</option>
			<option value="jgk">J/g&bull;K</option>
		</select>
		<br>
		<br>
		
		<input type="submit" value="Submit">
	</form>

{% if thermal_cond_error==True %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if thermal_cond_success==True %}
<p><b>Total Thermal Conductivity:</b> {{output}} (W/mK)</p>
{% endif %}

<hr id="dulong_petit_anchor">
<h2>Dulong-Petit Heat Capacity</h2>
	<form method="post" action="{{ url_for('dulong_petit', _anchor='dulong_petit_anchor')}}" id="action_form" autocomplete="off">
		<label for="n_atoms">Number of atoms in formula unit of compound </label><br>
		<label for="n_atoms">n<sub>atoms</sub> :</label>
		<input type="text" id="n_atoms" name="n_atoms">
		<label for="n_atoms">Examples: PbTe=2, Pb<sub>0.5</sub>Te<sub>0.5</sub>=1, Yb<sub>14</sub>MnSb<sub>11</sub>=26</label>
		
		<br>
		<br>
		<label for="m">Molar Mass: </label>
		<input type="text" id="m" name="m">
		<select name="m_units" id="m_units">
			<option value="gmol">g/mol</option>
			<option value="kgmol">kg/mol</option>
		</select>
		<br>
		<br>
		<label for="m">Examples: <br><br>
		PbTe=127.6 g/mol + 207.2 g/mol = 334.8 g/mol<br><br>
		Pb<sub>0.5</sub>Te<sub>0.5</sub>=(0.5&times;127.6 g/mol) + (0.5&times;207.2 g/mol) = 167.4 g/mol<br><br>
		Yb<sub>14</sub>MnSb<sub>11</sub>=(14&times;173.05 g/mol) + (54.938 g/mol) + (11&times;121.76 g/mol) = 3817.0 g/mol
		<br>
		<br>
		
		<input type="submit" value="Submit">
	</form>

{% if dulong_petit_error==True %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if dulong_petit_success==True %}
<p><b>Heat Capacity:</b> {{output}} (J/Kg&bull;K)</p>
{% endif %}
<hr>

{% endblock %}
