{% extends "base.html" %}

{% block content %}
<h1>Thermal Conductivity Calculators</h1>
<hr>
<h2>Total Thermal Conductivity</h2>
	<form method="post" action="{{ url_for('thermal') }}" id="action_form" autocomplete="off">
		{{ k_form.csrf_token }}
		{{ k_form.diffusivity_k.label }}
		{{ k_form.diffusivity_k }}
		{{ k_form.diffusivity_units_k }}
		{% for error in k_form.diffusivity_k.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br>
		<br>
		{{ k_form.density_k.label }}
		{{ k_form.density_k }}
		{{ k_form.density_units_k }}
		{% for error in k_form.density_k.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br>
		<br>
		{{ k_form.cp_k.label }}
		{{ k_form.cp_k }}
		{{ k_form.cp_units_k }}
		{% for error in k_form.cp_k.errors %}<span class="error">{{ error }}</span>{% endfor %}
		<br>
		<br>
		<input type="submit" value="Submit" name="thermal" id="thermal" onclick="document.getElementById('thermal').value='Calculating...';">
	</form>

{% if thermal_error_message %}
<p class="error">Error: {{thermal_error_message}}</p>
{% endif %}

{% if thermal %}
<p><b>Total Thermal Conductivity:</b> {{thermal}} (W/mK)</p>
{% endif %}

<hr>
<h2>Dulong-Petit Heat Capacity</h2>
	<form method="post" action="{{ url_for('thermal')}}" id="action_form" autocomplete="off">
		{{ dp_form.csrf_token }}
		{{ dp_form.composition_dp.label }}
		{{ dp_form.composition_dp }} <span>Example inputs: Yb14MnSb11, Pb0.5Te0.5, CuInTe2
		<br>
		<br>
		
{% if dp_error_message %}
<p class="error">Error: {{dp_error_message}}</p>
{% endif %}

{% if molar_mass %}
<p>
	<b>Dulong-Petit Heat Capacity:</b> {{ heat_capacity }} (J/kg&bull;K)
	<br>
	<br>
	<b>Molar mass:</b> {{ molar_mass }} (kg/mol)
	<br>
	<br>
	<b>Number of atoms:</b> {{ num_atoms }}
	<br>
	<br>
	<b>Composition interpretation:</b> {{ composition }}
</p>
{% endif %}
		
		<input type="submit" value="Submit" name="dulong_petit" id="dulong_petit" onclick="document.getElementById('dulong_petit').value='Calculating...';">
	</form>



{% endblock %}
