{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}

<h1>Please wait for your calculation</h1>



{% if wait_message %}
<p>{{ wait_message }}</p>
{% endif %}

{% if status %}
<p>Job Status: {{ status }}</p>
{% endif %}

<br>
<hr>



{% if status == 'finished' %}
	{% if tzt == True %}
	<p>
	<b>Theoretical Max zT:</b> {{zt_max}}<br>
	<b>Carrier Concentration (cm<sup>-3</sup>) for Theoretical Max zT:</b> {{carrier_for_zt_max}}<br>
	<a href="{{ plot_location }}"><img src="{{ plot_location }}" alt="" width="300" height="300"></a><br>
	<a href="{{ excel_location }}">Download excel of plotted data</a><br>
	</p>
	{% endif %}
	
	{% if tzt_excel == True %}
	<p>
	<a href="{{ excel_location }}">Download excel file of calculated data</a><br>
	</p>
	{% endif %}
{% endif %}






{% endblock %}
