{% extends "base.html" %}

{% block content %}
<h1>zT Calculator</h1>
<hr>
<form method="post" action="{{ url_for('zt') }}" id="action_form" autocomplete="off">
	{{ zt_form.csrf_token }}
	{{ zt_form.seebeck_zt_rho.label }}
	{{ zt_form.seebeck_zt_rho }}
	{{ zt_form.seebeck_zt_rho_units}}
	{% for error in zt_form.seebeck_zt_rho.errors %}<span class="error">{{ error }}</span>{% endfor %}
	<br><br>
	{{ zt_form.resistivity_zt_rho.label }}
	{{ zt_form.resistivity_zt_rho }}
	{{ zt_form.resistivity_zt_rho_units }}
	{% for error in zt_form.resistivity_zt_rho.errors %}<span class="error">{{ error }}</span>{% endfor %}
	<br><br>
	{{ zt_form.temperature_zt_rho.label }}
	{{ zt_form.temperature_zt_rho }}
	{{ zt_form.temperature_zt_rho_units }}
	{% for error in zt_form.temperature_zt_rho.errors %}<span class="error">{{ error }}</span>{% endfor %}
	<br><br>
	{{ zt_form.thermal_zt_rho.label }}
	{{ zt_form.thermal_zt_rho }}
	{{ zt_form.thermal_zt_rho_units }}
	{% for error in zt_form.thermal_zt_rho.errors %}<span class="error">{{ error }}</span>{% endfor %}
	<br><br>
	<input type="submit" name="zt_rho" value="Submit">
</form>

{% if zT_result %}
<p><b>zT: </b>{{ zT_result }} </p>
{% endif %}

{% if zT_result_error %}
<p class="error">{{ zT_result_error }}</p>
{% endif %}

<hr>
<h2>Excel sheet upload</h2>

<form method="post" action="{{ url_for('zt') }}" id="excel_form" enctype="multipart/form-data">
	{{ zt_excel_form.csrf_token }}
	{{ zt_excel_form.file_zT.label }}
	{{ zt_excel_form.file_zT }}
	{% for error in zt_excel_form.file_zT.errors %}<span class="error">{{ error }}</span>{% endfor %}
	<br>
	<br>
	<input type="submit" name="zt_excel" value="Submit"><br>
	{% if overflow_error %}<span class="error">{{ overflow_error }}</span>{% endif %}
	{% if index_error %}<span class="error">{{ index_error }}</span>{% endif %}
</form>
<br>

{% if zt_excel_path %}
<a href="{{url_for('download', name=zt_excel_path )}}" class="download">Download Excel File</a>
{% endif %}


<p>Please format excel files as shown in this <a href="../static/reference_files/zt_demo_sheet.xlsx">zt demo excel sheet</a><p>
<p>Temperature units must be: K<br>
Seebeck units must be: &mu;V/K<br>
Resistivity units must be: m&Omega;-cm<br>
Thermal conductivity units must be: W/mK
<p>



{% endblock %}
