{% extends "base.html" %}

{% block content %}
<h1>zT Calculator</h1>
<hr>
<form method="post" action="{{ url_for('zt_calculated_resistivity') }}" id="action_form" autocomplete="off">
	<label for="s">Seebeck Coefficient: </label>
	<input type="text" id="s" name="s">
		<select name="s_units" id="s_units">
			<option value="uV/K">&mu;V/K</option>
			<option value="mV/K">mV/K</option>
			<option value="V/K">V/K</option>
		</select>
	<br>
	<br>
	<label for="r">Resistivity: </label>
	<input type="text" id="r" name="r">
	<select name="r_units" id="r_units">
		<option value="mohm-cm">m&Omega;-cm</option>
		<option value="ohm-cm">&Omega;-cm</option>
		<option value="ohm-m">&Omega;-m</option>
	</select>
	<br>
	<br>
	<label for="T">Temperature: </label>
	<input type="text" id="T" name="T"><label for="T"></label>
	<select name="T_units" id="T_units">
		<option value="kelvin">K</option>
		<option value="centigrade">C</option>
	</select>
	<br>
	<br>
	<label for="k">Thermal Conductivity: </label>
	<input type="text" id="k" name="k"><label for="k"> (W/mK)</label><br><br>
	
	<input type="submit" value="Submit" onclick="this.disabled=true;this.value='Calculating, please wait...';this.form.submit();">
</form>

{% if error==True %}
<p class="error">Error: {{error_message}}</p>
{% endif %}

{% if success==True %}
<p>zT: {{output}}</p>
{% endif %}

<hr>
<h2>Excel sheet upload</h2>

<form method="post" action="{{ url_for('zt_from_excel') }}" id="excel_form" enctype="multipart/form-data">
	<label for="zt_file">File Upload (.xls, .xlsx): </label>
	<input type="file" id="zt_file" name="zt_file"><br>
	<input type="submit" value="Submit" onclick="this.disabled=true;this.value='Calculating, please wait...';this.form.submit();">
</form>
<br>

{% if upload_error==True %}
<p class="error">Error: {{upload_error_message}}</p>
{% endif %}

{% if upload_success==True %}
<a href="{{url_for('zt_download', name=download_path)}}" class="download">Download Excel File</a>
{% endif %}

<p>Please format excel files as shown in this <a href="../static/reference_files/zt_demo_sheet.xlsx">zt demo excel sheet</a><p>
<p>Temperature units must be: K<br>
Seebeck units must be: &mu;V/K<br>
Resistivity units must be: m&Omega;-cm<br>
Thermal conductivity units must be: W/mK
<p>



{% endblock %}
